<section>
  <p><%= t ".intro" %></p>
  <%= form_for @repo do |f| %>
    <%= f.text_field :url %>

    <% if @repo.errors.any? %>
      <ul class="errors">
        <% @repo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</section>

<section>
  <p><%= t ".examples" %></p>
  <ul>
    <li><%= link_to "Rails", repo_url(1) %></li>
    <li><%= link_to "Django", repo_url(2) %></li>
    <li><%= link_to "jQuery", repo_url(3) %></li>
    <li><%= link_to "Linux", repo_url(4) %></li>
  </ul>
</section>
