<section>
  <p><%= t ".intro" %></p>
  <%= form_for @repo do |f| %>
    <%= f.text_field :url %>

    <% if @repo.errors.any? %>
      <ul class="errors">
        <% @repo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</section>

<section>
  <p><%= t ".examples" %></p>
  <ul>
    <% example_repos.each do |repo| %>
      <li><%= link_to repo.url, repo_url(repo) %></li>
    <% end %>
  </ul>
</section>
