<% content_for :sub_header do %>
  <h2><%= @repo.url %></h2>
<% end %>

<section>
  <h3><%= t("feeds.commits") %></h3>
  <ul class="commits">
    <% @repo.commits.each do |commit| %>
      <li><%= commit.short_message %></li>
    <% end %>
  </ul>
</section>

<section>
  <h3><%= t("feeds.tags") %></h3>
  <ul class="tags">
    <% @repo.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</section>
