<% content_for :sub_header do %>
  <h2><%= @repo.url %></h2>
<% end %>

<% content_for :feeds do %>
  <%= auto_discovery_link_tag(:rss, commits_repo_url(@repo, :format=>:rss), :title=>t(".commits")) %>
  <%= auto_discovery_link_tag(:rss, tags_repo_url(@repo, :format=>:rss), :title=>t(".tags")) %>
  <%= auto_discovery_link_tag(:rss, weekly_repo_url(@repo, :format=>:rss), :title=>t(".weekly")) %>
<% end %>

<% if @repo.ready? %>
  <% if (commits = @repo.commits).any? %>
    <section class="commits">
      <h3><%= t(".commits") %></h3>
      <ul>
        <% commits.each do |commit| %>
          <li><%= commit.short_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if (tags = @repo.tags).any? %>
    <section class="tags">
      <h3><%= t(".tags") %></h3>
      <ul>
        <% tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
<% else %>
  <section class="error not-ready">
    <p>
      This repo isn't available yet.<br>
      It's probably still cloning.
    </p>
  </section>
<% end %>