<% content_for :sub_header do %>
  <h2><%= @repo.url %></h2>
<% end %>

<% content_for :feeds do %>
  <%= auto_discovery_link_tag(:rss, {:action=>:commits}, :title=>t(".commits")) %>
<% end %>

<section>
  <h3><%= t(".commits") %></h3>
  <ul class="commits">
    <% @repo.commits.each do |commit| %>
      <li><%= commit.short_message %></li>
    <% end %>
  </ul>
</section>

<section>
  <h3><%= t(".tags") %></h3>
  <ul class="tags">
    <% @repo.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</section>
