<?xml version="1.0" encoding="UTF-8"?>
<!-- vim: set et ts=2 sw=2: -->

<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title><%= t ".title", :repo=>@repo.url %></title>
    <link><%= link_to repo_url(@repo) %></link>

    <% @weeks.each do |week| %>
      <item>
        <title><%= t ".item_title", :week=>format_week(week) %></title>
        <pubDate><%= week.datetime.to_s(:rfc822) %></pubDate>
        <description>
          <ul>
            <% week.commits.each do |commit| %>
              <li><%= commit.short_message %></li>
            <% end %>
          </ul>
        </description>
      </item>
    <% end %>
  </channel>
</rss>
