<!DOCTYPE html>
<!-- vim: set et ts=2 sw=2: -->

<html>
  <head>
    <title><%= t :site_title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield :feeds %>
  </head>
  <body>
    <header>
      <h1><%= link_to t(:site_title), new_repo_path %></h1>
      <%= yield :sub_header %>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <footer>
      <p><%= raw t :footer %></p>
    </footer>
  </body>
</html>
